
.msg,
.sunk,
.finished {
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	background: #C00;
	padding: 4px;
	text-align: center;
	margin-bottom: 1ex;
}
.won  { background: #093; }
.lost { background: #C00; }

div.board,
div.noboard {
	float: left;
	margin: 10px;
}

div.noboard {
	width: 354px;
	height: 354px;
	border: 2px solid black;
	font-size: 28px;
	vertical-align: middle;
	text-align: center;
	background-color: #DEF;
	color: #333;
	line-height: 335px;

	* html & {
		width: 358px;
		height: 358px;
	}
}

div#board_data:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
* html div#board_data {
	zoom: 1;
}

div.board_info {
	float: left;
	margin: 0 10px;
	width: 356px;
	text-align: right;

	span {
		float: right;
		display: block;
		line-height: 16px;
	}

	.fleet {
		float: left;
		font-size: 16px;
		font-weight: bold;
	}
}


div.boats {
	text-align: left;
	width: 200px;
	height: 354px;
	float: left;
	margin: 10px;

	div.boat {
		width: 180px;
		height: 35px;
		float: left;
		clear: right;
	}
}


div.board div,
div.boat div {
	float: left;
	width: 30px;
	height: 30px;
	border: 1px solid #005;
	background-color: #79F;
	font-weight: bold;
	color: #000;
}

div.board div.row {
	float: none;
	clear: both;
	width: auto;
	height: 32px;
	border: 2px solid #000;
	border-width: 0 2px 0;
	background-color: transparent;
	font-weight: normal;
	overflow: visible;
}

div.board div.row.top,
div.board div.row.bottom {
	height: 17px;
	border: 2px solid #000;
	border-width: 2px 2px 0;
}

div.board div.row.bottom {
	border: 2px solid #000;
	border-width: 0 2px 2px;
}

div.board div.top div,
div.board div.bottom div {
	height: 15px;
	line-height: 15px;
	border: 1px solid #DDD;
	background-color: #EFF4FF;
	text-align: center;
}

div.board div.top div.corner,
div.board div.bottom div.corner {
	width: 15px;
	height: 15px;
	border: 1px solid #DDD;
	background-color: #EFF4FF;
}

div.board div.side {
	width: 15px;
	line-height: 30px;
	border: 1px solid #DDD;
	background-color: #EFF4FF;
	text-align: center;
}

div.v-bow   { background-image: url('../images/v_bow.gif');   }
div.v-fore  { background-image: url('../images/v_fore.gif');  }
div.v-mid   { background-image: url('../images/v_mid.gif');   }
div.v-aft   { background-image: url('../images/v_aft.gif');   }
div.v-stern { background-image: url('../images/v_stern.gif'); }
div.h-bow   { background-image: url('../images/h_bow.gif');   }
div.h-fore  { background-image: url('../images/h_fore.gif');  }
div.h-mid   { background-image: url('../images/h_mid.gif');   }
div.h-aft   { background-image: url('../images/h_aft.gif');   }
div.h-stern { background-image: url('../images/h_stern.gif'); }

div.board div.prevshot {
	border: 2px solid yellow;
	margin: -1px;
	position: relative;
	z-index: 2;
}

div.board div.curshot {
	border: 2px solid white;
	margin: -1px;
	position: relative;
	z-index: 4;
}

.clr {
	clear: both;
}

#game div {
	clear: both;
	text-align: center;
}

.shots {
	text-align: center;
	width: 200px;
	margin: 5px auto -20px;
	font-size: 14px;
	font-weight: bold;
	color: #C00;
}
.shots img {
	width: 15px;
	height: 15px;
	border: 0;
	vertical-align: middle;
}

h2 span {
	margin: 0 3em;
}

#chats {
	height: auto;
}

#chats .bla {
	color: #DDD;
	background-color: #333;
}

#chats .whi {
	color: #333;
	background-color: #DDD;
}

#chats .blu {
	color: #00D;
	background-color: #333;
}

#chats .private {
	background-color: #BBF;
	color: #000;
}
