
table {
	height: 1px;
	margin: 1em 0;
	width: 100%;
	line-height: 120%;
}

th {
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
	border-bottom: 1px solid #B1B1B1;
	padding: 2px 1ex 1px;
	white-space: nowrap;
}

.datatable tr:hover > td ,
.datatable tr.alt:hover > td {
	background-color: #444;
	color: #FFF;
}

td {
	border-right: 1px solid #433F3F;
	padding: 0 7px;
	text-align: left;
	vertical-align: middle;
	line-height: 180%;

	&:last-child {
		border-right: none;
	}
}

.alt {
	background-color: #1D1D21;
}

td.numeric {
	text-align: right;
}

td.date,
td.fortify {
	white-space: nowrap;
}

td.join,
td.remove,
td.edit {
	text-align: center;
	vertical-align: middle;
	width: 1px;
}

.highlight,
.highlight td {
	font-weight: bold;
}

.lowlight,
.lowlight td {
	color: #666;
}

th.remove {
	width: 1px;
}

caption {
	font-weight: bold;
}


/* sorted table styles */
thead tr th {
	background-color: transparent;
	border-top: 1px solid transparent;
}

thead tr .header {
	cursor: pointer;
}

thead tr .headerSortDown,
thead tr .headerSortUp {
	color: #FFF;
}

thead tr .headerSortUp {
	border-top: 1px solid #FFF;
}

thead tr .headerSortDown {
	border-bottom: 1px solid #FFF;
}

