

/* Battleship specific */

/*
	this file holds the styles that are specific to Battleship
*/


h2 span {
	margin-left: 50px;

	span {
		margin-left: 0;
	}
}


#fancybox-content {
	background-color: #000 !important;
}

